# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Logs
*.log

# VSCode / PyCharm configs
.vscode/
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db
